.container1 {
  /* width: 90%; */
  margin: 0px 20px;
}
.serve {
  width: 100%;
}
.container1 button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.container1 .left {
  position: absolute;
  top: 22%;
  left: 1.5%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.container1 .right {
  position: absolute;
  top: 22%;
  right: 1.5%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
